body {
  font-family: "Comfortaa";
}

.container {
  margin: 0% 7% 3% 7%;
}

.titleHeading {
  font-size: 4rem;
  font-weight: 700;
  margin: 15% 15% 0% 0;
}

.bodyHeading {
  font-weight: 700;
}

.navbar-custom {
  padding-top: 1%;
}

.navbar-logo {
  width: 70px;
}

.navbar-link {
  margin-left: 45%;
  font-size: 1.5rem;
}

.nav-item-custom {
  margin-left: 6%;
}

.titleDes {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 0;
}

.titleBtn {
  border-radius: 100px;
  font-family: Montserrat;
  font-weight: 300;
}

.titleBtn img {
  width: 30px;
}

.titleImg {
  width: 125%;
  margin-top: -7%;
  margin-left: -10%;
}

#howItWorks {
  margin-top: 5%;
}

.col-lg-3 {
  padding-right: 50px;
}

.hiwImg {
  width: 50px;
  margin: 15% 0 15% 0;
  padding: 12px;
  border: 1px solid #e9e8e8;
  border-radius: 18px;
  box-shadow: 2px 2px 5px 2px #6b728e;
}

.hiwImg-dark {
  background-color: #000;
  border: 1px solid #000;
}

.mob-design {
  height: 650px;
  width: 350px;
  text-align: center;
  margin: 150px 30px;
  border: 10px solid #eeeeee;
  border-radius: 30px;
  box-shadow: 5px 7px 15px #cfd2cf;
}

.des-large {
  height: 750px;
  width: 400px;
  margin: 90px 30px;
  box-shadow: 13px 15px 15px #cfd2cf;
}

.revImg {
  width: 120%;
  margin: 50px 0 0 -20px;
}

.revHeading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.rating {
  display: inline-block;
  font-size: 2.2rem;
  padding: 5% 0;
}

.rating1 {
  display: inline-block;
  font-size: 2.8rem;
  padding: 10% 0;
}

#download {
  text-align: center;
  padding: 5%;
}

.download-des {
  margin: 3% 0;
  padding: 0 18%;
}

hr {
  margin: 8% 0 0 25%;
  width: 50%;
}

footer {
  text-align: center;
}

.social-link {
  width: 50px;
  margin-bottom: 2%;
}

footer p {
  font-size: 0.8rem;
}
